*{
  margin: 5px;
  box-sizing: border-box;
}

body{
  background-color: #3674B5;
  font-family: sans-serif;
  color: #D1F8EF;
  font-size: 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 95vh;
}

header{
  background-color: #578FCA;
  padding: 2em 0 ;
  border: none;
  border-radius: 20px;
}

#left{
  background-color: #578FCA;
  padding: 3em 0;
  flex: 1 1 100px;
}

#right{
  background-color: #578FCA;
  padding: 3em 0;
  flex: 1 1 100px;
}

main{
  background-color: #578FCA;
  padding: 3em 0;
  flex: 5 5 150px;
}

#main{
  display: flex;
  flex: 1;
}

footer{
  background-color: #A1E3F9;
  padding: 1em 0;
}