body{
  font-family: 'montserrat';
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

a{
  color: inherit;
}
