.name-row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.name{
  padding: 10px 10px 10px 10px;
  width: 110px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.width{
  width: 252px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.full-row{
  margin-top: 10px;
}

.btn{
  padding: 12px;
  width: 274px;
  font-size: 16px;
  background-color: #4285f4;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover{
  background-color: #357ae8;
}