input{
  display: flex;
  border-radius: 5px ;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}

div{
  position: absolute;
}

body{
  background-color: black;
}